.parks-highlight
{
    color: #2ecc71;
}
.parks-primary
{
    color:#27ae60;
}

.navbar{margin-top: 35px;}

.navbar-brand
{
    margin-left: 18px;
    margin-right: 20px;
    
}

.navbar{
    font-size: 3em;
}

.navbar-collapse{
    margin-left: 20px;
}
li{
    margin-right: 15px;
    margin-top: 35px;
    color: black;
}


li:hover
{
    animation: heartBeat 1.5s;
}

.fui-heart
{
     color: #c0392b;
}

.fui-location
{
    color: #2980b9
    
}

.test
{background: red; height: 100vh;}

.fui-star
{
    color: #8e44ad;
}



@media (max-width: 500px) { 
    h1{font-size:2.12em;}
    .shrink{
        width: 250px;
    }
    .logo
    {
        width: 125px;
    }
    
 }
