.parks-highlight
{
    color: #2ecc71;
}
.parks-primary
{
    color:#27ae60;
}


#confirm-wrapper
{
    margin: 0 auto;
}

.navbar-brand
{
    margin-left: 18px;
    margin-right: 20px;
    
}

.navbar{
    font-size: 3em;
}

.navbar-collapse{
    margin-left: 20px;
}
li{
    margin-right: 15px;
    margin-top: 35px;
    color: black;
}

.small
{
    font-size:44px;
    margin-bottom: 30px;
}

.fui-heart
{
     color: #c0392b;
}

.fui-location
{
    color: #2980b9
    
}
.green
{
    background-color: #ecf0f1;
    height: 100vh;
}
.test
{       border: 2px solid red;
    height: 45vh;}

.fui-star
{
    color: #8e44ad;
}

#add-hero
{
    height: auto;
}

#new-park
{
   

    font-family: 'Josefin Sans', sans-serif;
    font-size: 60px;
    text-align: center;
    color: #4A4A4A;
    margin-bottom: 0;

}
#new-park-sub
{
    color:gray;
    font-size: 16px;
}



 .red-line
 {
     /*border: red 2px solid;*/
     padding: 20px;
 }

 
 input
 {
     margin: 0 auto;
 }

 label
 {
     margin: 0 auto;
     font-size: 34px;   
     margin-bottom: 0;
    
 }

 form{
     margin: 0 auto;
     display: block;
     width: 100%;
 }


.label-sub
{
    font-size: 17px;
    color: gray;
    margin-top: 0;
}

.input-hg
{
    width: 615px;
}

.activity-label
{
    font-size: 12px;
}

.checkbox-group
{
  display: none;          
}

.expand
{
    display: block;
}

.activity-collection
{
   max-width: 600px;
}
.activity-card
{
    display: inline-block;
    width: 187px;
    height: 180px;
    max-height: 180px;
   margin: 5px;
   border: lightgray 2px solid;
   border-radius: 15px;
   text-align: center;
   padding-top: 25px;

}

.activity-card:hover
{
    border: #27ae60 2px solid;
}

.activity-thumbnail
{

    height: 55%;
    display: block;
 margin-bottom: 10px;
}

.friends-input-wrapper
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.friends-input-wrapper>.input-hg
{
    width: 600px;
    margin-right: 10px;
  
    
}

.fui-plus
{
    color: #2ecc71;
}

.fui-cross
{
    color:#e74c3c;
}
table
{
    margin: 0 auto;
   
}

@media (max-width: 650px) { 
    h1{font-size:2.12em;}
    .shrink{
        width: 250px;
    }
    .logo
    {
        width: 125px;
    }
    .test
    {
       height: 30vh;
       border: 2px solid red;
    }


 label
 {
     margin: 0 auto;
     font-size: 26px;   
     margin-bottom: 0;
    
 }
    
    #new-park
    {font-size: 35px;}

    .input-hg
    {
        width: 320px;
        font-size: 15.5px;
    }

    .friends-input-wrapper>.input-hg
{
    width: 285px;
    display: flex; 
    flex-direction: row; 
    flex-wrap: nowrap;
     flex-direction: row; 
    flex-wrap: nowrap;
    margin-right: 20px;
}





    .activity-card
    {
        width: 150px;
        height: 130px;

        
    }
    .activity-thumbnail
    {
        width: 100px;
    }

    .activity-collection
{
   max-width: 350px;
}
 }

