.parks-highlight
{
    color: #2ecc71;
}
.parks-primary
{
    color:#27ae60;
}



.navbar-brand
{
    margin-left: 18px;
    margin-right: 20px;
    
}

.navbar{
    font-size: 3em;
}

.navbar-collapse{
    margin-left: 20px;
}
li{
    margin-right: 15px;
    margin-top: 35px;
    color: black;
}

.small
{
    font-size:44px;
    margin-bottom: 30px;
}

.fui-heart
{
     color: #c0392b;
}

.fui-location
{
    color: #2980b9
    
}
.green
{
    background-color: #ecf0f1;
    height: 100vh;
}
.test
{background: red; height: 45vh;}

.fui-star
{
    color: #8e44ad;
}



@media (max-width: 500px) { 
    h1{font-size:2.12em;}
    .shrink{
        width: 250px;
    }
    .logo
    {
        width: 125px;
    }
    .test
{background: red; height: 30vh;}
 }

 
 input
 {
     margin: 0 auto;
 }

 label
 {
     margin: 0 auto;
     font-size: 30px;   
 }

.form-group
{
    margin-top: 70px;
}